.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

/* Logo */
.logo-navbar {
  width: 120px;
  height: auto;
}

/* Desktop menu */
.nav_tabs {
  display: flex;
  gap: 30px;
}

.tab {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

/* Mobile buttons */
.menu_btn {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.cancel_btn {
  display: block;
  font-size: 24px;
  text-align: right;
  margin-bottom: 30px;
  cursor: pointer;
}

/* Mobile nav sidebar */
.mobile_nav {
  display: none;
}

/* MOBILE RESPONSIVE */
@media (max-width: 1000px) {
  .nav_tabs {
    display: none;
  }

  .menu_btn {
    display: block;
  }

  .mobile_nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    background-color: white;
    color: black;
    padding: 40px 20px;
    z-index: 999;
    transition: right 0.3s ease;
  }

  .mobile_nav.open {
    right: 0;
  }

  .tab {
    margin: 20px 0;
  }
}

/* Overlay belakang menu */
.sidebar_overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}
